header {
    position: absolute;
    padding-left: 120px;
    padding-right: 120px;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between ;

    img {
        height: 50px;
    }


    .darkLinks {
        a {
            color: black;

            &:hover {
                color: rgba(0,0,0,0.8);
            }

        }
    }
    a {
        color: white;
        text-decoration: none;
        margin: 5px;
        margin-left: 32px;
        font-weight: 500;

        &:hover{
            color: rgba(255,255,255,0.8)
        }
    }
}

.headerDark {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}